/* Dark mode colors. */
:root {
    --sl-color-bg-nav: #182230; 
	--sl-color-accent-low: #ffffff;
	--sl-color-accent-high: #FF6400;
	--sl-color-white: #FF6400;
	--sl-color-gray-1: #ffffff;
	--sl-color-gray-2: #ffffff;
	--sl-color-gray-3: #ffffff;
	--sl-color-gray-4: #ffffff;
	--sl-color-gray-5: #182230;
	--sl-color-gray-6: #182230;
	--sl-color-black: #182230;
}
/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-bg-nav: #b6b6b6; 
	--sl-color-accent-low: #F0F0F0;
	--sl-color-accent: #FF6400;
	--sl-color-accent-high: #FF6400;
	--sl-color-white: #FF6400;
	--sl-color-gray-1: #ffffff;
	--sl-color-gray-2: #6B7280;
	--sl-color-gray-3: #ffffff;
	--sl-color-gray-4: #6B7280;
	--sl-color-gray-5: #F0F0F0;
	--sl-color-gray-6: #F0F0F0;
	--sl-color-black: #ffffff;
}
